/*------------------------fonts------------------------*/
@font-face {
    font-family: Roboto-Light-Italic; /* Имя шрифта */
    src: url(fonts/Roboto-Light-Italic.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Montserrat-Regular; /* Имя шрифта */
    src: url(fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Kaushanscript-Regular; /* Имя шрифта */
    src: url(fonts/Kaushanscript-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto-Regular; /* Имя шрифта */
    src: url(fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Montserrat-Bold; /* Имя шрифта */
    src: url(fonts/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
}

/*-------------------------BASE----------------------------*/
body {
    margin: 0;
    line-height: 1.6;
    color: #333;
    font-family: "Montserrat-Regular";
    font-size: 15px;
}
a {
    text-decoration: none;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
    margin: 0;
}
hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 50px 0;
    border: 0;
    background-color: #e5e5e5;
}
.page {
    overflow: hidden;
}
/*----------CONTAINER----------*/
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------------HEADER-----------*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 35px;
}
.header.fixed {
    padding: 10px 0;
    background-color: #e98283;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.header.active {
    background-color: #e98283;
}
.header__logo {
    font-family: "Montserrat-Bold";
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*------------NAV------------*/
.nav {
    margin-right: 15px;
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    font-family: "Montserrat-Regular";
    display: inline-block;
    font-weight: 700;
    vertical-align: top;
    margin: 0 25px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .3s linear;
}
.nav__link:after {
    content: "";
    width: 100%;
    height: 3px;
    opacity: 0;
    background: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .3s linear;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}
.nav__link.active {
    color: #fce38a;
}

.nav__link:hover {
    color: #fce38a;
}
/*NAVGATION-SLIDER*/
.navigationslider {
    display: none;
    padding: 15px 0;
    position: relative;
    right: -10px;
    z-index: 1;
    margin: 0 20px;
    width: 30px;
    background: none;
    border: 0;
    color: transparent;
    cursor: pointer;
}
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.navigationslider__item {
    vertical-align: top;
    width: 100%;
    height: 3px;
    background: #fff;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: background .2s linear;
}
.navigationslider.active .navigationslider__item {
    background: none;
}
.navigationslider__item:before,
.navigationslider__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}
.navigationslider__item:before {
    bottom: 8px;
}
.navigationslider__item:after {
    top: 8px;
}
.navigationslider.active .navigationslider__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -3px, 0);
}
.navigationslider.active .navigationslider__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}
/*-------------INTRO-----------*/
.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 690px;
    position: relative;
    background: url("img/intro-2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /*transition: .6s linear;*/
}
/*
.intro--background:hover {
    width: 100%;
    height: 100vh;
    background: url("img/intro-2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition: .6s linear;
}
*/
.intro__title {
    color: #fff;
    font-family: "Montserrat-Bold";
    font-size: 110px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 50px auto;
    background-color: #FFF;
}
.intro__inner {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
.intro__suptitle {
    color: #fff;
    font-family: "Kaushanscript-Regular";
    font-size: 52px;
    margin-bottom: 10px;
}

/*----------BUTTON----------*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    color: #fff;
    border: 3px solid #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: background .3s linear, color .3s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/*----------SLIDER----------*/
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider_inner {
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.slider__item {
    color: #fff;
    padding: 20px 0;
    position: relative;
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
    width: 23%;
    font-size: 14px;
    border-top: 3px solid #fff;
    opacity: 0.7;
}
.slider__item.active {
    opacity: 1;
}
.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}
.slider__num {
    font-size: 20px;
    font-weight: 700;
}

/*----------SECTION-HEADER----------*/
.section {
    padding: 80px 0;
}
.section-slider {
    padding-top: 0;
}
.section--design {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url("img/design/bg-2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /*transition: .6s linear;*/
}
.section--clients {
    background: url("img/peoplesay/bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.section--gray {
    background-color: #f8f8f8;
}
/*
.section--design:hover {
    padding-bottom: 0;
    background: url("img/design/bg-2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    transition: .6s linear;
}
*/
.section__header {
    width: 100%;
    margin: 0 auto 50px;
    max-width: 950px;
    text-align: center;
}
.section__suptitle {
    font-family: "Kaushanscript-Regular";
    font-size: 24px;
    color: #333;
}
.section__title {
    font-size: 30px;
    color: #333;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
}
.section__title:after {
    content: "";
    display: block;
    margin: 30px auto;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
.section__text {
    font-family: "Roboto-Regular";
    color: #999;
    font-size: 15px;
}

/*----------ABOUT----------*/
.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__item {
    width: 33.33333%;
    padding: 0 15px;
}
.card__inner {
    position: relative;
    background-color: #95e1d3;
}
.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0)
}
.card__inner:hover .card__img img {
    opacity: .1;
}
.card__inner:hover .card__text {
    opacity: 1;
}
.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .1s linear;
}
.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .3s linear;
}
.card__text {
    width: 100%;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .4s linear;
}
/*.card__photo {
    width: 100%;
}*/

/*---------STATISTICS---------*/
.statistics {
    background-color: #95e1d3;
}
.stat {
    display: flex;
    flex-wrap: wrap;
}
.stat__item {
    padding: 70px 20px;
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    color: #fff;
    text-align: center;
}
.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}
.stat__number {
    font-family: "Montserrat-Bold";
    line-height: 1;
    font-size: 60px;
    margin-bottom: 10px;
}
.stat_text {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    text-transform: uppercase;
}


/*-----------SERVICES-----------*/
.services {
    display: flex;
    flex-wrap: wrap;
}
.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    margin-bottom: 40px;
    position: relative;
}
.services__icon {
    position: absolute;
    top: 5px;
    left: 28px;
    z-index: 1;
}
.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}
.services__title {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.services__text {
    font-size: 15px;
    color: #999;
    font-family: "Roboto-Regular";
}

/*-------UNQIUE-DESIGN-------*/
.design {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.design__item {
    display: block;
    max-width: 100%;
    height: auto;
}
.design__item--iphone {
    position: absolute;
    bottom: -85px;
    right: 0;
    z-index: 1;
}

/*------SERVICE2-ACCORDION------*/
.service2 {
    display: flex;
}
.service2__item {
    width: 50%;
}
.service2__image {
    width: 95%;
}
.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}
.accordion__item.active .accordion__content {
    display: block;
}
.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}
.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}
.accordion__header {
    position: relative;
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 65px;
    cursor: pointer;
}
.accordion__header:after {
    content: "";
    display: block;
/*-------------------------*/
    margin-bottom: 5px;
/*-------------------------*/
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}
.accordion__content {
    color: #999;
    display: none;
    font-size: 15px;
    padding: 15px 20px;
    font-family: "Roboto-Light-Italic";
}
.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
}
.accordion__title {
    text-transform: uppercase;
    color: #333;
    font-family: "Montserrat-Regular";
    font-weight: 700;
    font-size: 14px;
}

/*-----------SLIDER-----------*/
/*.reviews {
    padding: 0 110px;
    position: relative;
}*/
.slick-slide {
    margin-left: 0;
}
.slick-slide:focus,
.slick-current:focus,
.slick-active:focus {
    outline: 0;
}
.reviews {
    position: relative;
}
.reviews .slick-slider {
    padding: 0 110px;
    position: relative;
}
/*.reviews__item {
    padding-left: 205px;
    position: relative;
}*/
.reviews__item {
    min-height: 200px;
    margin-top: 40px;
    margin-left: 30px;
    padding-left: 205px;
    position: relative;
}
.reviews__text {
    font-family: "Roboto-Light-Italic";
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #999;
}
.reviews__icon {
    border: 2px solid #95e1d3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.reviews__author {
    font-family: "Kaushanscript-Regular";
    font-size: 24px;
    color: #333;
}
.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 15px;
}
.slick-arrow {
    cursor: pointer;
    font-size: 0;
    display: block;
    color: transparent;
    position: absolute;
    border: 0;
    background: none;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
}
.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}
.slick-next {
    right: 0;
    transform: rotate(135deg);
}
.reviews__icon__slider2 {
    position: absolute;
    top: -30px;
    left: -25px;
    z-index: 1;
}
/*---------OUR-TEAM---------*/


/*====SOCIAL====*/
.social {
    display: flex;
    justify-content: center;
}
.social__item {
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    text-decoration: none;
    color: #f38181;
    font-size: 30px;
    line-height: 1;
    padding: 13px 10px;
    width: 55px;
    height: 55px;
}
.social__item:hover {
    background-color: #f38181;
    color: #fce38a;
}
.social__item:last-child {
    border-right: none;
}
.social__name {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 5px;
}
.social__prof {
    font-size: 15px;
    color: #999;
    font-family: "Roboto-Light-Italic";
    font-style: italic;
    font-weight: 300;
}
.social__info {
    margin-top: 20px;
    text-align: center;
}
/*----------COMPANY----------*/
.logoscompany {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -5px;
}
.logoscompany__item {
    padding: 0 5px;
}
.logoscompany__img {
    width: 100%;
}
/*-----------WORK-----------*/
.works {
    margin-top: 85px;
    display: flex;
}
.work__blockall {
    display: flex;
    justify-content: center;
}
.works__col {
    flex: 1 1 0;
}
.works__title {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.works__text {
    font-size: 15px;
    font-family: "Roboto-Light-Italic";
    font-style: italic;
}
.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}
.works__item:hover .works__info {
    opacity: 1;
    transition: opacity .3s linear;
}
.works__item:hover .works__images {
    opacity: .1;
}
.works__images {
    width: 100%;
    display: block;
    transition: opacity .3s linear;
}
.works__info {
    width: 100%;
    text-align: center;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    opacity: 0;
    color: #fff;
    left: 0;
    transition: opacity .3s linear;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
}
.works__icon {
    margin-bottom: 5px;
}
/*---------CLIENTS---------*/
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}
.clients__item {
    padding: 0 45px 0 175px;
    width: 50%;
    position: relative;
    margin-bottom: 60px;
}
.clients__content {
    position: relative;
    color: #333;
}
.client__img {
    top: 0;
    left: 40px;
    z-index: 1;
    width: 110px;
    height: 110px;
    position: absolute;
    border-radius: 50%;
}
.clients__name {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.clients__prof {
    font-size: 15px;
    font-family: "Roboto-Light-Italic";
    font-weight: 300;
}
.clients__text {
    font-family: "Roboto-Light-Italic";
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: #999;
}
.clients__text:before {
    content: "";
    margin: 15px 0;
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
/*-----------BLOGS-----------*/
.blogs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogs__title {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin: 10px 0;
}
.blogs__text {
    font-size: 15px;
    color: #999;
    font-family: "Roboto-Regular";
}
.blogs__item {
    width: 31%;
    margin: 5px;
}
.blogs__content {
    margin-bottom: 15px;
}
.blogs__header {
    position: relative;
}
.blogs__date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-family: "Roboto-Light-Italic";
    font-size: 15px;
    z-index: 1;
    background-color: #95e1d3;
}
.blogs__photo {
    display: block;
    width: 100%;
}
.blogs__date-day {
    line-height: 1;
    font-family: "Montserrat-Bold";
    font-size: 30px;
}
.blogs__title a {
    text-decoration: none;
    color: #333;
}
.blogs__text a {
    text-decoration: none;
    color: #999;
}
.blogs__footer {
    font-family: "Roboto-Light-Italic";
    font-style: italic;
    display: flex;
    padding-top: 15px;
    font-weight: 300;
    font-size: 15px;
    border-top: 1px solid #e5e5e5;
    color: #999;
}
.blogs__stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.blogs__stat__item i {
    color: #95e1d3;
    margin-right: 3px;
}
/*-----------MAPS-----------*/
.locationicon {
    padding-top: 45px;
    font-size: 24px;
}
.map {
    background: url(img/mapbg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 200px;
    width: 100%;
    color: #ff9999;
    text-align: center;
}
.map:hover {
    transition: 3.3s;
    opacity: 0.6;
    background: red;

    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
}
.openmap {
    font-family: "Montserrat-Bold";
    font-size: 24px;
}
.openmap:hover {
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s infinite;
}
.openmap:after {
    content: "";
    display: block;
    margin: 15px auto 0;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
/*----------FOOTER----------*/
.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}
.footer__col-block1 {
    width: 40%;
}
.footer__col-block2 {
    width: 29%;
}
.footer__col-block3 {
    width: 22%;
}
.footer__col {
    padding: 0 15px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    margin: 0 -15px;
    flex-wrap: wrap;
}
.footer__logo {
    font-size: 46px;
    color: #ccc;
    margin-bottom: 30px;
    font-family: "Montserrat-Bold";
}
.footer__text {
    font-size: 15px;
    color: #999;
    font-family: "Roboto-Regular";
    margin-bottom: 50px;
}
.footer__social {
    margin-bottom: 40px;
}
.footer__social-header {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #e5e5e5;
}
.footer__social-content {
    font-family: "Roboto-Light-Italic";
    font-size: 15px;
}
.footer__social-header-number {
    font-family: "Montserrat-Bold";
    font-size: 18px;
}
.footer__social-content-icon {
    margin-left: 17px;
    font-size: 19px;
}
.footer__social-content-icon a {
    color: #95e1d3;
    margin-right: 18px;
}
.footer__title--blogs {
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #333;
    margin: 30px 0;
}
.footer__title {
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #333;
    margin: 30px 0;
}
/*---------SUBSCRIBE---------*/
.subscribe {
    width: 100%;
    display: flex;
    max-width: 400px;
}
.subscribe__input {
    height: 40px;
    border: 1px solid #e7e7e7;
    border-right: 0;
    font-family: "Roboto-Light-Italic";
    font-size: 16px;
    background-color: #fff;
    color: #333;
    padding: 12px;
    width: 60%;
}
.subscribe__input::placeholder {
    font-family: "Roboto-Light-Italic";
    color: #ccc;
    font-size: 15px;
}
.subscribe__input:focus {
    outline: 0;
}
.subscribe__btn {
    height: 40px;
    text-transform: uppercase;
    padding: 12px;
    width: 40%;
    cursor: pointer;
    background-color: #95e1d3;
    border: none;
    color: #fff;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    transition: background .2s linear;
}
.subscribe__btn:hover {
    background-color: #7cccbe;
}
.subscribe__btn:focus {
    outline: 0;
}


/*-----------BLOGS----------*/

.footer__blogs-item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.footer__blogs-img {
    width: 120px;
    height: 80px;
}
.footer__blogs-content {
    padding-left: 20px;
}
.footer__blogs-title {
    display: block;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    font-size: 12px;
    margin-bottom: 5px;
    color: #333;
}
.footer__blogs-title:hover {
    text-decoration: underline;
}
.footer__blogs-date {
    font-family: "Roboto-Light-Italic";
    color: #999;
    font-size: 13px;
}
/*---------INSTAGRAM---------*/
.footer__instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__instagram-item {
    width: 33%;
    border-bottom: 1px solid #fff;
}
.footer__instagram-item img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*--------COPYRIGHT----------*/
.copyright {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 23px 0;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: #333;
}
.copyright a {
    color: #f38181;
}
.copyright a:hover {
    text-decoration: underline;
}
/*--------------------------*/
/*****************************/
@media (max-width: 1230px) {

    .intro__suptitle {
        font-size: 52px;
    }
    .intro__title {
        font-size: 120px;
    }
}

@media (max-width: 1212px) {
    .slick-arrow {
        top: 35%;
    }
}
@media (max-width: 990px) {

    .reviews__item--two {
        min-height: 490px;
        padding-top: 20px;
    }
    .intro__suptitle {
        font-size: 42px;
    }
    .intro__title {
        font-size: 110px;
    }
    .footer__instagram {
        max-width: 300px;
    }
    .stat {
        justify-content: center;
    }
    .slick-arrow {
        top: 20%;
    }
    .reviews__icon {
        margin-bottom: 15px;
        text-align: center;
        position: relative;
    }
    .slick-slide .reviews__icon {
        left: 42%;
    }
    .slick-slide .reviews__icon__slider2 {
        margin-top: 20px;
        left: 40%;
    }
    .reviews__text:after {
        content: "";
        display: block;
        margin: 30px auto;
        width: 60px;
        height: 3px;
        background-color: #f38181;
    }
    .reviews__author:before {
        content: none;
    }
    .reviews .slick-slider {
        padding: 0;
    }
    .reviews__item {
        text-align: center;
        padding-left: 0;
        margin: 0;
        display: block;
    }
    .stat__item {
        flex: none;
        width: 33.33333%;
        padding: 35px 20px;
        border-left: none;
    }
    .stat__number {
        font-size: 40px;
    }
    .stat__item:last-child {
        border-right: none;
    }
    .services__item {
        width: 50%;
        padding-right: 20px;
        padding-bottom: 0;
    }
    .reviews__icon__slider2 {
        position: relative;
        left: 0;
        margin-top: 0;
    }
    .reviews__text {
        width: 90%;
        margin: 0 auto;
    }
    .services__item--border {
        border-bottom: none;
    }
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }
    .clients__item {
        width: 100%;
    }
    .blogs__item {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 50px;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        padding: 5px 10px;
    }
    .blogs__date {
        bottom: 40px;
        left: -15px;
    }
    .footer__col-block1 {
        width: 100%;
    }
    .footer__col-block2,
    .footer__col-block3 {
        width: 50%;
    }
    .footer__instagram {
        justify-content: flex-start;
    }
    .footer__instagram-item {
        width: auto;
        border-right: 1px solid #fff;
    }
    /*.footer__col-block1 {
        width: 100%;
    }
    .footer__inner {
        justify-content: center;
    }
    .footer__col-block2 {
        width: 64%;
        max-width: 400px;
        margin-left: -50px;
    }
    .footer__col-block3 {
        width: 36%;
    }*/
}
@media (max-width: 900px) {
    .slick-slide .reviews__icon {
        left: 40%;
    }
    .slick-slide .reviews__icon__slider2 {
        left: 37%;
    }
}

@media (max-width: 850px) {
    .slick-slide .reviews__icon__slider2 {
        left: 35%;
    }
    .header {
        padding: 10px 0;
    }
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #e98283;
    }
    .nav.active {
        display: block;
    }
    .nav__link {
        display: block;
        margin: 0;
        border-bottom: 1px solid #eee;
        padding: 8px 20px;
    }
    .navigationslider {
        display: block;
    }
    .navigationslider {
        right: 40px;
    }
    .header__logo {
        margin-left: 40px;
    }
    .reviews__text {
        font-size: 22px;
    }
}
@media (max-width: 770px) {
    .slick-slide .reviews__icon {
        left: 39%;
    }
    .slick-slide .reviews__icon__slider2 {
        left: 36%;
    }
}
@media (max-width: 700px) {
    .card__text {
        font-size: 14px;
    }
    .reviews__text {
        font-size: 20px;
    }
    .card__item {
        margin-bottom: 20px;
        width: 100%;
        max-width: 410px;
    }
    .card__item:last-child {
        margin-bottom: 0;
    }
    .card {
        margin-top: 50px;
        justify-content: center;
    }
    .services {
        justify-content: center;
    }
    .services__item {
        padding-right: 15px;
        width: 100%;
        max-width: 400px;
    }
    .design {
        max-width: 300px;
        margin-bottom: 80px;
    }
    .design__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -70px;
    }
}
@media (max-width: 660px) {
    .slick-slide .reviews__icon {
        left: 38%;
    }
}
@media (max-width: 640px) {

    .slick-slide .reviews__icon__slider2 {
        left: 30%;
    }
    .intro__suptitle {
        font-size: 32px;
    }
    .navigationslider {
        right: -10px;
    }
    .header__logo {
        margin-left: 0;
    }
    .footer__col-block2,
    .footer__col-block3 {
        width: 100%;
    }
    .intro__title {
        font-size: 90px;
    }
    .section {
        padding: 40px 0;
    }
    .section--design {
        padding-bottom: 0;
    }
    .service2 {
        display: block;
    }
    .service2__item {
        width: 100%;
    }
    .service2__image {
        width: 100%;
    }
    .work__blockall {
        display: block;
    }
    .works {
        margin-top: 0;
    }
}
@media (max-width: 590px) {
    .slick-slide .reviews__icon {
        left: 36%;
    }
    .slick-slide .reviews__icon__slider2 {
        left: 30%;
        max-width: 40%;
    }
}
@media (max-width: 510px) {

    .slick-slide .reviews__icon__slider2 {
        max-width: 30%;
        left: 34%;
    }
    .slick-slide .reviews__icon {
        left: 34%;
    }
    .intro__suptitle {
        font-size: 32px;
    }
    .reviews__text {
        font-size: 16px;
    }
    .client__img {
        position: relative;
        left: 0;
    }
    .clients__text:before {
        content: "";
        margin: 15px auto;
        display: block;
        width: 80px;
        height: 3px;
        margin-bottom: 30px;
        background-color: #f38181;
    }
    .clients__item {
        text-align: center;
        padding: 0;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }
    .stat__item:last-child {
        border-bottom: none;
    }
    .intro__title {
        font-size: 70px;
    }
    .slider__text {
        display: none;
    }
    .design__item--iphone {
        right: -30px;
    }
    .slider__item.active:before {
        width: 50%;
    }

}



@media (max-width: 465px) {
    .slick-slide .reviews__icon {
        left: 32%;
    }
    .card__text {
        font-size: 15px;
    }
    .works__text {
        font-size: 13px;
    }
    .works__title {
        font-size: 12px;
    }
    .blogs__date {
        bottom: 25px;
        left: -10px;
    }
}

@media (max-width: 425px) {
    .slick-slide .reviews__icon__slider2 {
        max-width: 45%;
        left: 28%;
    }
    .slick-slide .reviews__icon {
        left: 30%;
    }
}

@media (max-width: 409px) {


    .intro__suptitle {
        font-size: 25px;
    }
    .intro__title {
        font-size: 60px;
    }
    .section__suptitle {
        font-size: 20px;
    }
    .section__title {
        font-size: 26px;
    }
    .section__title:after {
        margin: 20px auto;
    }
}

@media (max-width: 392px) {
    .slick-slide .reviews__icon {
        left: 26%;
    }
}
@media (max-width: 360px) {
    .slick-slide .reviews__icon {
        left: 28%;
    }
}
@media (max-width: 350px) {

    .footer__title {
        margin-left: 0;
    }
    .footer__blogs-title {
        font-size: 10px;
    }
    .footer__blogs-date {
        font-size: 11px;
    }
    .intro__suptitle {
        font-size: 25px;
    }
    .intro__title {
        font-size: 50px;
    }
    .reviews__text {
        font-size: 14px;
    }
    .blogs__date {
        padding: 5px 10px;
    }
}

@media (max-width: 325px) {
    .slick-slide .reviews__icon {
        left: 25%;
    }
    .card__text {
        font-size: 12px;
    }
    .works__text {
        font-size: 10px;
    }
    .works__title {
        font-size: 9px;
    }
}

@media (max-width: 288px) {

    .intro__suptitle {
        font-size: 20px;
    }
    .intro__title {
        font-size: 40px;
    }
    .section__suptitle {
        font-size: 16px;
    }
    .section__title {
        font-size: 22px;
    }
    .section__title:after {
        margin: 15px auto;
    }
    .footer__blogs-title {
        font-size: 8px;
    }
    .footer__blogs-date {
        font-size: 9px;
    }
}
/*****************************/
